<h1>Edit Flight</h1>

<%= form_tag "/trips/#{params[:trip_id]}/flights/#{params[:flight_id]}", {method: :patch} do %>
  <div>
    <%= label_tag :airline %>
    <%= text_field_tag :airline, @flight.airline %>
  </div>
  <div>
    <%= label_tag :flight_number %>
    <%= text_field_tag :flight_number, @flight.flight_number %>
  </div>
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @flight.price %>
  </div>
  <div>
    <%= label_tag :depart_time, 'Departing at:' %>
    <%= datetime_local_field_tag :depart_time , @flight.depart_time %>
  </div>
  <div>
    <%= label_tag :arrive_time, 'Arriving at:' %>
    <%= datetime_local_field_tag :arrive_time, @flight.arrive_time %>
  </div>
  <div>
    <%= submit_tag "Update", class: "btn btn-default" %>
  </div>
<% end %>
