      <h1>Flight Details</h1>

      <p>Airline: <%= @flight.airline %></p>
      <p>Flight Number: <%= @flight.flight_number %></p>
      <p>Price: <%= @flight.price %> </p>
      <p>Departing Time: <%= @flight.depart_time %></p>
      <p>Arriving Time: <%= @flight.arrive_time %></p>

      <div><%= link_to "Edit", "/trips/#{params[:trip_id]}/flights/#{params[:flight_id]}/edit" %></div>
      <div><%= link_to "Vote", "/trips/#{params[:trip_id]}/flights/#{params[:flight_id]}?rank=1", method: :patch %></div>
      <% if current_user.admin %>
        <div>
          <%= link_to "Finalize", "/trips/#{params[:trip_id]}/flights/#{params[:flight_id]}?confirmation=confirmed", method: :patch %>
        </div>
          <div>
          <%= link_to "Delete", "/trips/#{params[:trip_id]}/flights/#{params[:flight_id]}", method: :delete %>
        </div>
      <% end %>
