<div class="container">      
  <h1 class="center-align">Accommodation Details</h1>
    <div class="section">
      <div class="divider"></div>
      <br>
      <div style="margin-bottom: 20px">
        <h4 class="light center-align"><%= @accommodation.name %></h4>
      </div>
      <div style="margin-bottom: 20px">
        <h5 class="light center-align">Price (per night): $<%= @accommodation.price %></h5>
      </div>
      <div style="margin-bottom: 20px">
        <h5 class="light center-align">Address: <%= @accommodation.address %></h5>
      </div>
      <div style="margin-bottom: 20px">
        <h5 class="light center-align">Website: <a href="<%= @accommodation.url %>" ><%= @accommodation.url %></a></h5>
      </div>

<div class="row center-align">
  <button class="waves-effect waves-light btn-flat"><%= link_to "Edit", "/trips/#{params[:trip_id]}/accommodations/#{params[:accommodation_id]}/edit" %></button>
  <button class="waves-effect waves-light btn-flat"><%= link_to "Vote", "/trips/#{params[:trip_id]}/accommodations/#{params[:accommodation_id]}?rank=1", method: :patch %></button>
  <% if current_user.admin? %>
    <button class="waves-effect waves-light btn-flat">
      <%= link_to "Finalize", "/trips/#{params[:trip_id]}/accommodations/#{params[:accommodation_id]}?confirmation=confirmed", method: :patch %>
    </button>
    <button class="waves-effect waves-light btn-flat">
      <%= link_to "Delete", "/trips/#{params[:trip_id]}/accommodations/#{params[:accommodation_id]}", method: :delete %>
    </button>
  <% end %>
</div>
</div>