<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Arrow</title>

  <!--SEO Meta Tags-->
  <meta name="description" content="Metheor - Multi-Purpose App Showcase Template" />
  <meta name="keywords" content="multipurpose, app showcase, mobile, blog, business, corporate, startup, landing, shortcodes, html5, css3, jquery, js, gallery, slider, touch, creative" />
  <meta name="author" content="Rokathemes" />

  <!--Mobile Specific Meta Tag-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!--Favicon-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- All Theme Styles including Bootstrap, Bourbon, Pixeden, etc. compiled from styles.scss-->
  <link href="/css/styles.min.css" rel="stylesheet" media="screen">

  <!--Modernizr / Detectizr-->
  <script src="/js/vendor/modernizr.custom.js"></script>
  
  <!-- Page Preloader (Pace) -->
  <script src="/js/vendor/pace.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="is-preloader parallax">



    <!-- Navbar -->
    <!-- Remove ".navbar-fixed" class to make navigation bar scrollable with the page. Another modifier calss is ".submenu-dark" to alter submenu appearance. -->
    <header class="navbar">
      <div class="container">
        <div class="inner">

          <!-- Site Logo -->
          <a href="/trips" class="site-logo">
            <img src="#" alt="Arrow">
          </a><!-- .site-logo -->

            <!-- Main Navigation -->
            <nav class="main-navigation">
              <ul class="menu">
                <li><a href="/trips/maps">Add To Trip</a></li>
                <li><a href="/trips/maps">My Map</a></li>
                <li>
                  <% if current_user == nil %>
                    <%= link_to "Log In", '/users/sign_in' %>
                    <%= link_to "Sign Up", '/users/sign_up' %>
                  <% end %>
                  <% if current_user %>
                    <%= link_to "Log Out", '/users/sign_out', method: :delete %>
                  <% end %>
                </li>
              </ul><!-- .menu -->
            </nav><!-- .main-navigation -->
          </div><!-- .mobile-dropdown -->



<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
      <%= message.html_safe %>  
    </div>
  <% end %>
</div>

<%= yield %>


  <script src="js/vendor/jquery-2.1.4.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/placeholder.js"></script>
  <script src="js/vendor/smoothscroll.js"></script>
  <script src="js/vendor/jquery.stellar.min.js"></script>
  <script src="js/vendor/velocity.min.js"></script>
  <script src="js/vendor/jquery.parallax.min.js"></script>
  <script src="js/vendor/magnific-popup.min.js"></script>
  <script src="js/vendor/owl.carousel.min.js"></script>
  <script src="js/scripts.js"></script>

</body>
</html>
