<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Travel App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
      <%= message.html_safe %>  
    </div>
  <% end %>
</div>

</head>

      <body>
        <header>
          <nav class="grey darken-3" role="navigation" style="height: 90px">
            <div class="nav-wrapper" style="height: 90px" >
              <a href="/trips" class="brand-logo"><img style="height: 90px; margin-left: 20px" src="/white_icon.png"></a>
              <ul class="right hide-on-med-and-down valign-wrapper" style="height: 90px">
                <% if current_user == nil %>
                  <li><a href="/users/sign_in" class="white-text">Log In</a></li>
                  <li><a href="/users/sign_up" class="white-text">Sign Up</a></li>
                <% end %>
                <% if current_user %>
                  <li><a href="/groups/new" class="white-text btn-flat valign">Add to Trip</a></li>
                  <li><a href="/users/sign_out" method="delete" class="waves-effect waves-light btn-flat-large teal accent-1">Log Out</a></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </header>
  

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js/materialize.js"></script>
        <script src="/js/init.js"></script>


        <%= yield %>

        <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 valign-wrapper">
                <img src="/white_logo.png" style="height: 125px" class="valign">
              </div>           
          </div>
        </footer>

</body>